* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: gray;
}

img {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

p,
legend {
    font-size: 2rem;
}

input {
    width: 500px;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 1.5rem;
    border: 2px solid #E5E7EB;
}


form {
    display: inline-block;
    text-align: left;
}

#container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 100px;
}

#containerRight {
    flex-direction: column;
    width: 100vw;
}

#top {
    background-color: lightblue;
}

#form {
    background-color: whitesmoke;
}

#button {
    background-color: gray;
}

#top,
#form,
#button {
    min-height: 30vh;
    padding-left: 25px;
    padding-top: 10px;

}

input:invalid {
    border: 2px solid red;
}

input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.25);
}